.customMasterDiv
{
    background-color: rgba(255, 255, 255, 0.849);
    margin: 1% 7% 1% 7%;
}

.customImage
{
    width: 35%;
    height: auto;

    border-radius: 10px;

    margin: 5% auto auto 1%;
}

.customLabel
{
    user-select: none;
    margin: auto 1% auto auto;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.customDetail
{
    margin: 1%;
}