body
{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(159deg, aqua 0%, rgba(43,101,99,0.7679446778711485) 50%, coral 100%);
}


/* SCROLL BAR CUSTOM */
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: aqua; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: coral; 
  }