.w3-gradient-1
{
    background-image: linear-gradient(to bottom right, aqua, coral);
}

.w3-gradient-2
{
    background-image: linear-gradient(159deg, aqua 0%, rgba(43,101,99,0.7679446778711485) 50%, coral 100%);
}

.home-page-header
{
    background-color: rgba(187, 187, 187, 0.247);
}

.item-search-input
{
    width: 50%;
    margin:  10px 0 0 25%;
    font-size: x-large;
    outline: none;
}

.itemList
{
    text-align: center;
    font-size: 30px;
    width: 80%;
    margin: 0 0 0 10%;
    background-color: rgba(187, 187, 187, 0.247);
    border-radius: 10px;
}

.customItemImageStyle
{
    width: 204px;
    height: 112px;
}

.customItemStyle
{
    background-color: rgba(255, 254, 254, 0.938);
    box-shadow:solid  10px rgba(0, 0, 0, 0.397);
    outline: none;
}

.customItemImageStyle
{
    border-radius: 10px;
}

.customItemDetailStyle
{
    display: none;
    margin: -1.6px;
}

.customItemButtonStyle
{
    display: none;
}

/* Footer icons */

.facebookIcon
{
    /* color: rgba(0, 0, 0, 0.719); */
    color: rgba(255, 255, 255, 0.897);
}

.facebookIcon:hover
{
    color: rgb(0, 89, 255);
}


.instagramIcon
{
    /* color: rgba(0, 0, 0, 0.719); */
    color: rgba(255, 255, 255, 0.897);
    
}

.instagramIcon:hover
{
    background-color: red;
  background-image: linear-gradient(45deg, #9900ff, #ff00c8);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.twitterIcon
{
    /* color: rgba(0, 0, 0, 0.719); */
    color: rgba(255, 255, 255, 0.897);

}

.twitterIcon:hover
{
    color: rgb(0, 195, 255);
}

.githubIcon
{
    /* color: rgba(0, 0, 0, 0.719); */
    color: rgba(255, 255, 255, 0.897);

}

.githubIcon:hover
{
    color: rgba(0, 0, 0, 0.719);
}

.redditIcon
{
    cursor: cell;
    color: rgba(255, 255, 255, 0.897);
}  

.redditIcon:hover
{
    color: rgb(255, 43, 43);
}

.footerLabel
{
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Dancing Script', cursive;
    margin: 0% 0% 0% 2%;
}

